<div class="center-text">
  <h1 id="welcome-heading">Welcome to the Pendo Playground</h1>
  <p id="welcome-text">A learning environment for internal Pendo employees</p>
</div>

<iframe id="iframe-on-root" src="http://www.pendo.io/company/about/index.html"></iframe>
