<div class="center-text">
  <h1 id="welcome-heading">Welcome to the Pendo Playground</h1>
  <p id="welcome-text">A learning environment for new and old Pendo users.  Check out the <a href="http://help.pendo.io/" target="_blank">Pendo Help Center</a>!</p>
  <br/>
  <div class = "row center-text">
      <button data-foo="link1" href="#" class = "panel col-xs-4">Button 1</button>
      <button data-foo="link2" href="#" class = "panel col-xs-4">Button 2</button>
      <button data-foo="link3" href="#" class = "panel col-xs-4">Button 3</button>
  </div>
  <br/>
  <div id="demo-area" class="jumbotron">
    <a data-bar="demo-link" href="#" class="link">Demo Link</a>
  </div>
</div>

<iframe id="iframe-on-root" class="iframe"  data-foo="iframe-link" src="http://pendosandbox-internal.com/"></iframe>
